// app global css in SCSS form
.link {
    text-decoration: none;
    color: $instablue;
}

.text-black-opacity {
    color: #000000;
    opacity: 0.4;
}

.container-bottom {
  z-index: 6000;
  background-color: $background-light;
  position: fixed;
  bottom: 0;
}
